/* Banner Wrapper */
.banner {
  width: 100%;
  height: 300px; 
  background: linear-gradient(rgba(245, 124, 0, 0.5), rgba(255, 201, 40, 0.16));
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  transition: 4s ease-in-out;
}

/* Banner for Dark Mode */
.dark-mode .banner {
  background: linear-gradient(rgba(255, 165, 0, 0.7),rgba(0, 0, 0, 0.6));
  background-color: #f0f0f0;
}

/* Text in light mode */
.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
  text-shadow: 1rem 0.1rem 1rem #f0f0f0;
  padding: 1rem 2rem;
}

/* Dark mode text */
.dark-mode .banner-content {
  color: #f0f0f0;
}

/* Title */
.banner-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 0;
  white-space: nowrap;
}

/*  Title in dark mode */
.dark-mode .banner-title {
  text-shadow: #000000 0.1rem 0.07rem 0.4rem;
}

/* Subtitle */
.banner-subtitle {
  font-size: 1.2rem;
  margin: 0;
}

.dark-mode .banner-subtitle {
  text-shadow: 0.1rem 0.1rem 0.7rem black;
}

/* Button */
.banner-btn {
  padding: 0.8rem 1.5rem;
  background-color: #f57c00;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
}

.banner-btn:hover {
  background-color: #d86a00;
}

/* --------- Responsive ---------- */

/* Tablet */
@media (max-width: 900px) {
  .banner {
    height: 240px; 
  }

  .banner-title {
    font-size: 2rem;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .banner {
    height: 180px; 
  }

  .banner-title {
    font-size: 1.5rem;
  }

  .banner-subtitle {
    font-size: 0.9rem;
  }

  .banner-btn {
    padding: 0.7rem 1.2rem;
    max-width: 150px;
    margin: 0 auto;
  }
}
