/* --- Header --- */

/* Light mode */
.app {
  background-color: #fff;
  color: #000;
}

/* Dark mode */
.app.dark-mode {
  background-color: #111;
  color: #fff;
}

/* Header Wrapper */
.header {
  width: 100%;
  background-color: #ffffff;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 2px 10px rgb(0, 0, 0,0.6);
}

.app.dark-mode .header {
  background: #222;
  box-shadow: 0px 2px 10px rgba(255, 255, 255, 0.5);
}

/* Header Layout */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-logo img {
  width: 2.8rem;
}

.header-logo h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
}

.app.dark-mode .header-logo h2 {
  color: #f9f9f9;
}

/* nav */
.nav {
  display: flex;
  gap: 2rem;
}

.nav a,
.nav a:visited,
.nav a:link {
  text-decoration: none;
  font-size: 1rem;
  color: #333;
  font-weight: 500;
  transition: 0.3s ease-in-out;
}

/* Hover */
.nav a:hover {
  color: #ff6600;
  transform: translateX(0.3rem);
}

/* Dark mode links */
.app.dark-mode .nav a {
  color: #eee;
}

.app.dark-mode .nav a:hover {
  color: #ffa500;
}

/* Icons */
.header-icons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Dark mode toggle */
.dark-toggle {
  font-size: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.app.dark-mode .dark-toggle {
  color: #fff;
}

/* Mobile menu button */
.menu-btn {
  display: none;
  font-size: 1.8rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
}

.app.dark-mode .menu-btn {
  color: #fff;
}

/* ----- RESPONSIVE ----- */
@media (max-width: 768px) {

  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    background: white;
    width: 200px;
    flex-direction: column;
    padding: 1rem;
    gap: 1.2rem;
    display: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }

  .app.dark-mode .nav {
    background: #222;
  }

  /* Show menu */
  .nav.nav-open {
    display: flex;
  }

  .menu-btn {
    display: block;
  }
}
