/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}



/* --- Error page ----*/
/* Page Wrapper */
.error-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
  animation: fadeIn 0.6s ease-in-out;
}

/* 404 Number */
.error-page h1 {
  font-size: 6rem;
  font-weight: 900;
  color: #f57c00;
  margin: 0;
  letter-spacing: 2px;
}

/* Title */
.error-page h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: 600;
}

/* Subtitle */
.error-page p {
  font-size: 1.1rem;
  color: #555;
  max-width: 400px;
  margin: 0 auto;
}

/* Button */
.error-btn {
  margin-top: 1rem;
  padding: 0.8rem 1.5rem;
  background: #f57c00;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Button */
.error-btn:hover {
  background: #d86a00;
  transform: translateY(-2px);
}

/* Dark mode*/
.app.dark-mode .error-page h1 {
  color: #ffa500;
}

.app.dark-mode .error-page h2 {
  color: #f1f1f1;
}

.app.dark-mode .error-page p {
  color: #ccc;
}

.app.dark-mode .error-btn {
  background: #ffa500;
  color: #111;
}

.app.dark-mode .error-btn:hover {
  background: #ffb733;
}

/* ---- Responsive-- */
@media (max-width: 600px) {
  .error-page h1 {
    font-size: 4rem;
  }

  .error-page h2 {
    font-size: 1.5rem;
  }

  .error-page p {
    font-size: 0.95rem;
  }
}

/* Fade Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

